@model IEnumerable<ShopTARge24.Models.Kindergarten.KindergartenIndexViewModel>

	<div>
	<a asp-action="create" id="createNew" asp-controller="Kindergarten" type="submit" class="btn btn-primary">Create</a>
	</div>

	<div class="h1">
		Kindergarten
	</div>
	<form method="post">
		<table class="table table-hover">
			<thead>
				<tr>
				<th scope="col">Nr</th>
				<th  scope="col">Group name</th>
				<th scope="col">ChildrenCount</th>
				<th scope="col">Kindergarten name</th>
				<th scope="col">Teacher name</th>
				<th scope="col">Created At</th>
				<th scope="col">Updated At</th>
				<th scope="col">Modify</th>
				

				</tr>
			</thead>
			<tbody>
			@{
				int rowNumber = 0;
			}
			@foreach (var kindergarten in Model)
			{
				<tr>
					<td>@{rowNumber++;} @rowNumber</td>
					<td id="GroupName">@kindergarten.GroupName</td>
					<td id="ChildrenCount">@kindergarten.ChildrenCount</td>
					<td id="KindergartenName">@kindergarten.KindergartenName</td>
					<td id="TeacherName">@kindergarten.TeacherName</td>
					<td>@kindergarten.CreatedAt</td>
					<td>@kindergarten.UpdatedAt</td>
				<td>
					<a id="detailsBtn" asp-action="details" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-primary">Details</a>
					|
					<a id="updateBtn" asp-action="update" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-warning">Update</a>
					|
					<a id="deleteBtn" asp-action="delete" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Delete</a>

				</td>
				</tr>
			}
			</tbody>
		</table>

	</form>