@model ShopTARge24.Models.AccuWeathers.AccuWeathersViewModel

<div class="container">
	<h2>Foreacast for the selected city</h2>
	<h2>@Html.DisplayFor(model => model.CityName )</h2>
	<hr />
	<dl class="row text-dark">
		<div>
			<dt class="col-sm-2">
				Temperatur (Cel);
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.TempMinCelsius) °C
			</dd>
		</div>
		<div>
			<dt class="col-sm-2">
				Temperatur (Cel);
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.TempMaxCelsius) °C
			</dd>
		</div>
		<div>
			<dt class="col-sm-2">
				Severity;
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Severity) °C
			</dd>
		</div>
		<div>
			<dt class="col-sm-2">
				Category;
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Category) °C
			</dd>
		</div>
		<div>
			<dt class="col-sm-2">
				WeatherText;
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.WeatherText) °C
			</dd>
		</div>
	</dl>
</div>